:root {
  --background-color: #fff;
  --text-color: #000;

  --primary-color: #000;
  --primary-color-light: #000;
  --primary-color-dark: #000;

  --secondary-color: #000;
  --secondary-color-light: #000;
  --secondary-color-dark: #000;

  --tertiary-color: #000;
  --tertiary-color-light: #000;
  --tertiary-color-dark: #000;

  --border-radius: 5px;
  --border-radius-large: 10px;
  --border-radius-small: 2px;

  --spacing-small: 4px;
  --spacing: 8px;
  --spacing-large: 16px;
  --spacing-xlarge: 32px;

}