:root {
  --background-color: var(--primary-color);
  --text-color: ;

  --border-radius: 5px;
  --border-radius-large: 10px;
  --border-radius-small: 2px;

  --spacing-small: 4px;
  --spacing: 8px;
  --spacing-large: 16px;
  --spacing-xlarge: 32px;

  --primary-color: #FDFCFA;
  --primary-color-dark: #EDEBE5;
  --primary-color-light: #FDFCFA;

  --secondary-color: #2B2D34;
  --secondary-color-dark: #1E1F26;
  --secondary-color-light: #3A3C44;

  --accent-color: #D81D09;
  --accent-color-dark: #bd1907;
  --accent-color-light: #ec301b;

  --accent-color-extralight: #f15a49;
  --accent-color-extralight-dark: #ea5645;
  --accent-color-extralight-light: #f56c5d;


  --grey-color: #EAEAEA;
  --grey-color-dark: #dfdfdf;
  --grey-color-light: #f1f1f1;

  --warning-color: #F2994A;
  --warning-color-dark: #F2994A;
  --warning-color-light: #F2994A;

  --error-color: #EB5757;
  --error-color-dark: #EB5757;
  --error-color-light: #EB5757;

  --success-color: #27AE60;
  --success-color-dark: #27AE60;
  --success-color-light: #27AE60;

  // give me a beautiful color palette of 3 colors 
  
  --font-size-xsmall: 1.2rem;
  --font-size-small: 1.4rem;
  --font-size: 1.6rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 3.2rem;

  --drop-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.error {
  color: var(--error-color);
}