@import "./assets/scss/root.scss";
@import "reset-css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

// import poppins font

// make 10px = 1rem
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: normal;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#app {
  font-size: var(--font-size-small);
}

.icon {
  display: flex;
  width: var(--spacing-xlarge);
  height: var(--spacing-xlarge);

  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--background-color);

  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-dark);
  }

  &.-active {
    background-color: var(--accent-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--accent-color-dark);
    }
  }
}

.button {
  padding: var(--spacing) var(--spacing-large);
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;

  background-color: var(--grey-color);

  &--primary {
    color: var(--primary-color);
    background-color: var(--accent-color);
  }
  &:hover {
    background-color: var(--accent-color-dark);
  }

  &--secondary {
    background-color: var(--background-color);
    border: var(--accent-color) 1px solid;

    padding: calc(var(--spacing) - 1px) calc(var(--spacing-large) - 1px);

    &:hover {
      background-color: rgba($color: #D81D09, $alpha: 0.3);
      // background-color: var(--accent-color);
    }
  }
}

.button--link {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: var(--accent-color-dark);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}