@import "./assets/scss/root.scss";
@import "reset-css";

// make 10px = 1rem
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#app {
  font-size: var(--font-size);
}

.icon {
  display: flex;
  width: var(--spacing-xlarge);
  height: var(--spacing-xlarge);

  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--background-color);

  &:hover {
    background-color: var(--primary-color-dark);
  }

  &.-active {
    background-color: var(--accent-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--accent-color-dark);
    }
  }
}
